@page "/spellbuilder"

<PageTitle>Spell Builder</PageTitle>

<h1>Spell Builder</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
