@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.worldanvil.com/w/unbound-lexxo/a/core-rules-article" target="_blank">About Unbound</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
